.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 380px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.product:hover img {
  transition: 0.3s ease-in;
  opacity: 0.5;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .shopTitle {
    margin-bottom: 200px;
    font-size: 30px;
  }

  .products {
    grid-template-columns: 1fr;
    /* Switch to a single column layout on mobile */
  }

  .product {
    width: 90%;
    margin: 10px;
    margin-bottom: 300px;
  }

  .addToCartBttn {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
  }

  .description {
    font-size: 20px;
  }
}